html {
    background-color: rgb(58, 58, 58);
    color: #eee;
}
body, a {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}
a {

    text-decoration: none;
}
a :hover {
    color: red;
}
h1 {
    color: #0090ff;
}
td, th {
    padding: 0.3em 0.3em;
}
th {
    Background-color: #333;
}
button {
    min-width: 120px;
    min-height: 30px;
    padding: 12px;
    background-color: rgba(140, 180, 90, 1)
}
button :hover {
    color: #eee;
}