<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Peoples</title>
</head>
<body>
<table border="1" cellspacing="">
    <tr>
        <th width = "20%">LastName</th>
        <th width = "20%">Name</th>
        <th width = "20%">SurName</th>
        <th width = "15%">DateOfBird</th>
        <th width = "15%">PersonalNumber</th>
        <th width = "10%">Rating</th>
    </tr>
    <tr>

    </tr>
</table>
<br>
<a href="/">To main page</a>
{% endblock %}
</body>
</html>