<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Peoples</title>
</head>
<body>
<table border="1" cellspacing="0">
    <tr>
        <th width = "20%">LastName</th>
        <th width = "20%">Name</th>
        <th width = "20%">SurName</th>
        <th width = "15%">DateOfBird</th>
        <th width = "15%">PersonalNumber</th>
        <th width = "10%">Rating</th>
    </tr>

        {% for row in data %}
            <tr>
                <td>
                    {{ row[0] }}
                </td>
                <td>
                    {{ row[1] }}
                </td>
                <td>
                    {{ row[2] }}
                </td>
                <td>
                    {{ row[3] }}
                </td>
                <td>
                    {{ row[4] }}
                </td>
                <td>
                    {{ row[5] }}
                </td>
            </tr>

        {% endfor %}

</table>
<br>
<button type="button">
    <a href="/">To main page</a>
</button>

{% endblock %}

</body>
</html>